//- Адаптивное изображение
//- Пример: +picture("img/picture@1x.png")(width="200", height="200")
//- Пример: +picture("picture.png")
//- Если не нужно выводить для какого то экрана уникальную картинку ставим false:
//- Пример: +picture("picture.png", isLaptop=false, isTablet=true, isMobile=false)
mixin picture(file, isLaptop=true, isTablet=true, isMobile=true)
  //- (foo/bar/baz/)(filename)(.ext) или
  //- (foo/bar/baz/)(filename@1x)(.ext) или
  //- (/)(filename)(.ext) или
  //- (/)(filename@1x)(.ext)
  - const regex = /^(.*\/)([^/]+?)(?:@\d+x)?(\.[^.]+)$/;
  - const match = file.match(regex);

  if match
    - const [path, title, ext] = [match[1], match[2], match[3]];
    - const supportedFormats = [".jpg", ".jpeg", ".png"];

    if supportedFormats.includes(ext)
      - const breakpointsState = { isMobile, isTablet, isLaptop };
      - const formats = { avif: '.avif', webp: '.webp' };
      - const breakpoints = { mobile: 767.98, tablet: 1023.98, laptop: 1440.98 };
      - const generateSrcSet = (screen, format, retina) => `${path}${title}-${screen}@${retina}x${format}`;

      picture
        each breakpoint in Object.entries(breakpoints)
          - const screen = breakpoint[0]
          - const screenSize = breakpoint[1]
          - const key = `is${screen.slice(0, 1).toUpperCase()}${screen.slice(1)}`

          if breakpointsState[key]
            each formatExt, format in formats
              source(
                media=`(max-width: ${screenSize}px)`,
                type=`image/${format}`,
                srcset=`${generateSrcSet(screen, formatExt, 1)} 1x, ${generateSrcSet(screen, formatExt, 2)} 2x`
              )
            source(
              media=`(max-width: ${screenSize}px)`,
              srcset=`${generateSrcSet(screen, ext, 1)} 1x, ${generateSrcSet(screen, ext, 2)} 2x`
            )

        each formatExt, format in formats
          source(
            type=`image/${format}`,
            srcset=`${generateSrcSet('desktop', formatExt, 1)} 1x, ${generateSrcSet('desktop', formatExt, 2)} 2x`
          )
        img(
          src=generateSrcSet('desktop', ext, 1),
          srcset=`${generateSrcSet('desktop', ext, 2)} 2x`,
          width,
          height,
          alt,
          loading="lazy"
        )&attributes(attributes)
