footer.footer
  div.container.footer__inner
    nav.footer__body
      dl.footer__menu
        each item, index in jsonData.footerNav
          div.footer__menu-column
            dt.footer__menu-title.h6
              a.footer__menu-title-link(href=item.link) #{item.title}
            dd.footer__menu-body
              if item.childes
                ul.footer__menu-list
                  each itemChild in item.childes
                    li.footer__menu-item
                      if item.isButton
                        a.button.footer__menu-link(href=itemChild.link)
                          span #{itemChild.title}
                          +icon('icon-arrow-top-right')(width="20", height="20")
                      else
                        a.footer__menu-link(href=itemChild.link) #{itemChild.title}
                        if itemChild.badge
                          span.badge #{itemChild.badge}
              else
                | Not child links
    div.footer__extra
      div.footer__extra-menu
        ul.footer__extra-menu-list
          li.footer__extra-menu-item
            a.footer__extra-menu-link(href="/") Terms & Conditions
          li.footer__extra-menu-item
            a.footer__extra-menu-link(href="/") Privacy Policy
      div.footer__soc1als.soc1als
        ul.soc1als__list
          li.soc1als__item
            a.soc1als__link(href="/", target="_blank", title="Twitter")
              +icon('icon-twitter')(width="24", height="24")
          li.soc1als__item
            a.soc1als__link(href="/", target="_blank", title="Medium")
              +icon('icon-medium')(width="24", height="24")
          li.soc1als__item
            a.soc1als__link(href="/", target="_blank", title="Linkedin")
              +icon('icon-linkedin')(width="24", height="24")
      p.footer__copyright
        | ©&nbsp;
        time(datetime="2024") 2024&nbsp;
        | FutureTech. All rights reserved.
