header.header(data-js-header)
  div.header__promo
    div.container.header__promo-inner
      a.header__promo-link(href="")
        span Subscribe to our Newsletter For New & latest Blogs and Resources #{ogType}
        +icon('icon-arrow-top-right')(width="24", height="24")

  div.header__body
    div.container.header__body-inner
      a.logo.header__logo(href="", title="Home", aria-label="Home")
        img.logo__image(src="img/logo.svg", width="179", height="50", alt="FutureTech")
      div.header__overlay(data-js-header-overlay)
        nav.header__menu
          ul.header__menu-list
            each item, index in jsonData.headerNav
              li.header__menu-item
                if pageLink == item.link
                  span.header__menu-link.is-active #{item.title}
                else
                  a.header__menu-link(href=item.link) #{item.title}
        a.button.button--accent.header__contact-us-link(href="contacts.html") Contact Us
      button.visible-mobile.burger-button.header__burger-button(
        type="button",
        title="Open menu",
        aria-label="Open menu",
        data-js-header-burger-button
      )
        span.burger-button__line
        span.burger-button__line
        span.burger-button__line
