extends ../layouts/_default.pug

block variables
  - const pageTitle = "Blog page";
  - const pageDescription = "Explore FutureTech's In-Depth Blog Posts";
  - const pageLink = "blog.html";

block content
  section.blog-details(aria-labelledby="blog-details-title")
    header.blog-details__banner
      +picture("img/blog-details/banner.jpg", isLaptop=true, isTablet=false, isMobile=true)(class="blog-details__banner-img", width="1920", height="598")
      div.container.blog-details__banner-inner
        h1#blog-details-title.blog-details__title The Rise of Artificial Intelligence in Healthcare
    div.blog-details__body
      div.container.blog-details__body-inner
        div.blog-details__content
          div.blog-details__intro.full-vw-line
            h2 Introduction
            p Artificial Intelligence (AI) has emerged as a transformative force in the healthcare industry, reshaping patient care, diagnostics, and research. In this blog post, we explore the profound impact of AI in healthcare, from revolutionizing diagnostic accuracy to enhancing patient outcomes.
          div.blog-details__main.expandable-content(data-js-expandable-content)
            h2 Artificial Intelligence (AI)
            p Artificial Intelligence (AI) has permeated virtually every aspect of our lives, and healthcare is no exception. The integration of AI in healthcare is ushering in a new era of medical practice, where machines complement the capabilities of healthcare professionals, ultimately improving patient outcomes and the efficiency of the healthcare system. In this blog post, we will delve into the diverse applications of AI in healthcare, from diagnostic imaging to personalized treatment plans, and address the ethical considerations surrounding this revolutionary technology.
            p Artificial Intelligence (AI) has permeated virtually every aspect of our lives, and healthcare is no exception. The integration of AI in healthcare is ushering in a new era of medical practice, where machines complement the capabilities of healthcare professionals, ultimately improving patient outcomes and the efficiency of the healthcare system. In this blog post, we will delve into the diverse applications of AI in healthcare, from diagnostic imaging to personalized treatment plans, and address the ethical considerations surrounding this revolutionary technology.\
            h2 Predictive Analytics and Disease Prevention
            each item in [1,2,3,4]
              p One of the most prominent applications of AI in healthcare is in diagnostic imaging. AI algorithms have demonstrated remarkable proficiency in interpreting medical images such as X-rays, MRIs, and CT scans. They can identify anomalies and deviations that might be overlooked by the human eye. This is particularly valuable in early disease detection. For instance, AI can aid radiologists in detecting minute irregularities in mammograms or identifying critical findings in chest X-rays, potentially indicative of life-threatening conditions.
            button.button.blog-details__read-full-button.expandable-content__button(type="button", data-js-expandable-content-button)
              span Read Full Blog
              +icon('icon-arrow-bottom')(width="24", height="24")
        div.blog-details__info
          div.blog-details__info-wrap
            div.blog-details__actions.blog-actions
              ul.blog-actions__list
                - const data = { like: '24.5k', eye: '50k', shared: '206' }
                each action, idx in ['like', 'eye', 'shared']
                  li.blog-actions__item
                    button.blog-actions__button(
                      type="button",
                      title="Like",
                      aria-label="Like"
                    )
                      +icon("icon-" + action)(class="blog-actions__icon", width="24", height="24")
                      span #{data[action]}
            div.blog-details__summary.summary.summary--2-cols
              dl.summary__list
                div.summary__item
                  dt.summary__key Publication Date
                  dd.summary__value
                    time(datetime="2023-10-15") October 15, 2023
                div.summary__item
                  dt.summary__key Category
                  dd.summary__value Healthcare
                div.summary__item
                  dt.summary__key Reading Time
                  dd.summary__value 10 Min
                div.summary__item
                  dt.summary__key Author Name
                  dd.summary__value Dr. Emily Walker
                div.summary__item.summary__item--wide
                  dt.summary__key Table of Contents
                  dd.summary__value
                    div.table-of-contents
                      ul.table-of-contents__list
                        li.table-of-contents__item Introduction
                        li.table-of-contents__item AI in Diagnostic Imaging
                        li.table-of-contents__item Predictive Analytics and Disease Prevention
                        li.table-of-contents__item Personalized Treatment Plans
                        li.table-of-contents__item Drug Discovery and Research
                        li.table-of-contents__item AI in Telemedicine
                        li.table-of-contents__item Ethical Considerations
                        li.table-of-contents__item The Future of AI in Healthcare
                        li.table-of-contents__item Conclusion
    div.container.blog-details__news.news
      header.news__header
        h2.news__title.h4 Similar News
        +button("View All News")(class="news__link")
      ul.news__list
        each news in jsonData.newsBlog.slice(1)
          li.news__item
            article.news-card
              +picture(news.image, isLaptop=true, isTablet=false, isMobile=true)(
                class="news-card__image",
                width="512",
                height="222",
                alt=news.title
              )
              div.news-card__body
                h2.news-card__title.h6 #{news.title}
                div.news-card__description
                  p #{news.description}
              div.news-card__controls
                div.news-card__actions.blog-actions
                  ul.blog-actions__list
                    each action in ['like', 'shared']
                      li.blog-actions__item
                        button.blog-actions__button(
                          type="button",
                          title=toFirstUpperCase(action),
                          aria-label=toFirstUpperCase(action)
                        )
                          +icon(`icon-${action}`)(class="blog-actions__icon " + isActive, width="24", height="24")
                          span #{news.actions[action]}
                +button("Read More")(class="blog-card__link")
