extends ../layouts/_default.pug

block variables
  - const pageTitle = "Contacts page";
  - const pageDescription = "Phone, address company";
  - const pageLink = "contact.html";

block content
  section.contacts(aria-labelledby="contacts-title")
    header.contacts__header
      h1#contacts-title.sr-only Contacts
      ul.container.bordered-grid.bordered-grid--4-cols
        li.bordered-grid__item
          div.contacts-card
            h2.contacts-card__title.h6 General Inquiries
            div.contacts-card__body
              +button("contact@ai-podcasts.com", "mailto:contact@ai-podcasts.com")(
                class="button--dark-gray contacts-card__link"
              )
              +button("+1 (123) 456-7890", "tel:+11234567890")(
                class="button--dark-gray contacts-card__link"
              )
        li.bordered-grid__item
          div.contacts-card
            h2.contacts-card__title.h6 Technical Support
            div.contacts-card__body
              +button("contact@ai-podcasts.com", "mailto:contact@ai-podcasts.com")(
                class="button--dark-gray contacts-card__link"
              )
              +button("+1 (123) 456-7890", "tel:+11234567890")(
                class="button--dark-gray contacts-card__link"
              )
        li.bordered-grid__item
          div.contacts-card
            h2.contacts-card__title.h6 Our Office
            div.contacts-card__body
              address.contacts-card__address Address: 123 AI Tech Avenue, Techville, 54321
              +button("Get Directions")(
                class="button--dark-gray contacts-card__link"
              )
        li.bordered-grid__item
          div.contacts-card
            h2.contacts-card__title.h6 Connect with Us
            div.contacts-card__body
              div.contacts-card__soc1als.soc1als.soc1als--3-cols
                ul.soc1als__list
                  li.soc1als__item
                    a.soc1als__link(href="", target="_blank", title="Twitter")
                      +icon('icon-twitter')(width="24", height="24")
                  li.soc1als__item
                    a.soc1als__link(href="", target="_blank", title="Medium")
                      +icon('icon-medium')(width="24", height="24")
                  li.soc1als__item
                    a.soc1als__link(href="", target="_blank", title="Linkedin")
                      +icon('icon-linkedin')(width="24", height="24")
    div.contacts__body
      div.list
        div.list__item
          div.container.card
            div.card__preview
              div.card__preview-main
                +icon("icon-contact-1")(class="card__preview-icon", width="80", height="80")
                div.card__preview-info
                  h2.card__preview-title Get in Touch with AI Podcasts
            div.card__body
              form.feedback-form(action="/")
                div.feedback-form__cell.field
                  label.field__label(for="firstName")
                    | First name
                    span.field__required-star(aria-hidden="true") *
                  input#firstName.field__control(type="text", name="input-1", placeholder="Ivan", required)
                div.feedback-form__cell.field
                  label.field__label(for="lastName") Last name
                  input#lastName.field__control(type="text", name="input-2", placeholder="Ivanov")
                div.feedback-form__cell.field
                  label.field__label(for="email")
                    | Email
                    span.field__required-star(aria-hidden="true") *
                  input#email.field__control(type="email", name="input-3", placeholder="example@email.com", required)
                div.feedback-form__cell.field
                  label.field__label(for="phoneNumber") Phone Number
                  div.field__body

                    div.select(data-js-select)
                      label.select__label.sr-only(
                        id="phone-number-prefix-select-label",
                        for="phoneNumberPrefix"
                      ) Phone number prefix
                      select#phoneNumberPrefix.field__control.select__original-control(
                        tabindex="-1",
                        data-js-select-original-control
                      )
                        option(value="+7", selected) +7
                        option(value="+1") +1
                        option(value="+2") +2
                        option(value="+3") +3
                      div.select__body
                        div.field__control.select__button(
                          tabindex="0",
                          role="combobox",
                          aria-expanded="false",
                          aria-haspopup="lisbox",
                          aria-controls="phone-number-prefix-select-dropdown",
                          aria-labelledby="phone-number-prefix-select-label",
                          data-js-select-button
                        ) +7
                        div.select__dropdown(
                          id="phone-number-prefix-select-dropdown",
                          role="listbox",
                          aria-labelledby="phone-number-prefix-select-label",
                          data-js-select-dropdown
                        )
                          div.select__option.is-selected.is-current(
                            id="phone-number-prefix-select-option-1",
                            role="option",
                            aria-selected="true",
                            data-js-select-option
                          ) +7
                          div.select__option(
                            id="phone-number-prefix-select-option-2",
                            role="option",
                            aria-selected="false",
                            data-js-select-option
                          ) +1
                          div.select__option(
                            id="phone-number-prefix-select-option-3",
                            role="option",
                            aria-selected="false",
                            data-js-select-option
                          ) +2
                          div.select__option(
                            id="phone-number-prefix-select-option-4",
                            role="option",
                            aria-selected="false",
                            data-js-select-option
                          ) +3

                    input#phoneNumber.field__control(type="text", name="input-4", placeholder="(999) 999-99-99", data-js-input-mask="(000) 000-00-00")
                div.feedback-form__cell.feedback-form__cell--wide.field
                  label.field__label(for="message")
                    | Message
                    span.field__required-star(aria-hidden="true") *
                  textarea#message.field__control(type="text", name="input-5", placeholder="Hi! I have an idea...", required)
                div.feedback-form__cell.feedback-form__cell--wide
                  div.feedback-form__actions
                    div.feedback-form__agreement
                      label.checkbox
                        input.checkbox__input(type="checkbox", name="input-6", required)
                        span.checkbox__label I agree with Terms of Use and Privacy Policy
                    button.button.button--accent.feedback-form__submit-button(type="submit") Send

        div.list__item
          div.container.card
            div.card__preview
              div.card__preview-main
                +icon("icon-contact-2")(class="card__preview-icon", width="80", height="80")
                div.card__preview-info
                  h2.card__preview-title Asked question
                  div.card__preview-description
                    p If the question is not available on our FAQ section, Feel free to contact us personally, we will resolve your respective doubts.
                +button("Ask Qustion")(
                  class="button--dark-gray contacts-card__link"
                )
            div.card__body
              div.accordion-group
                each question, i in jsonData.questions
                  - const index = i + 1
                  div.accordion.tile
                    details.accordion__details(name="faq", open=i === 0)
                      summary.accordion__summary
                        h4.accordion__title.h6
                          span(role="term", aria-details="faq-1") #{question.title}
                    div.accordion__content(id="faq-" + index, role="definition")
                      div.accordion__content-inner
                        div.accordion__content-body
                          p #{question.description}
