extends ../layouts/default.pug

block variables
  - const pageTitle = "Главная страница";

block content
  h1 #{ pageTitle } #{ env }

  ul
    |
    each item, index in jsonData.mainNav.items
      li #{ index } | #{ item.title } | #{ item.link }

      if item.links
        each link, i in item.links
          li #{ index }.#{ i } | #{ item.title } | #{ item.link }

  div
    |
    :markdown-it
      This is in **markdown**

  div
    |
    include:markdown-it ../markdown/docs.md

  div
    |
    :markdown-it
      ```js
        var codeBlocks;
      ```

  div
    |
    input(data-json=`
      {
        "very-long": "piece of ",
        "data": true
      }
    `)

  div
    |
    +icon("icon-copy")(width="20", height="20", aria-hidden="true")

  :markdown-it(linkify, langPrefix="highlight-")
    ```js
      const a = 123
    ```

  pre
    code.hljs
      :highlight(lang="javascript")
        function foo() {
          alert('This is JavaScript');
        }
