extends ../layouts/_default.pug

block variables
  - const pageTitle = "Home page";
  - const pageDescription = "Explore the Frontiers of Artificial Intelligence";
  - const pageLink = "/";

block content
  section.hero(aria-labelledby="hero-title")
    div.container.hero__main
      div.hero__body
        p.hero__subtitle Your Journey to Tomorrow Begins Here
        h1#hero-title.hero__title Explore the Frontiers of Artificial Intelligence
        div.hero__description
          p Welcome to the epicenter of AI innovation. FutureTech AI News is your passport to a world where machines think, learn, and reshape the future. Join us on this visionary expedition into the heart of AI.
      div.hero__metrics.metrics(class="full-vw-line full-vw-line--top full-vw-line--left")
        dl.metrics__list
          div.metrics__item
            dt.metrics__title Resources available
            dd.h3.metrics__desc
              | 300
              span.metrics__sign +
          div.metrics__item
            dt.metrics__title Total Downloads
            dd.h3.metrics__desc
              | 12k
              span.metrics__sign +
          div.metrics__item
            dt.metrics__title Active Users
            dd.h3.metrics__desc
              | 10k
              span.metrics__sign +
      div.hero__resources-preview.resources-preview
        div.resources-preview__team.team
          +picture("img/team/team1.png", isLaptop=false, isTablet=false, isMobile=false)(class="team__person", width="60", height="60")
          +picture("img/team/team2.png", isLaptop=false, isTablet=false, isMobile=false)(class="team__person", width="60", height="60")
          +picture("img/team/team3.png", isLaptop=false, isTablet=false, isMobile=false)(class="team__person", width="60", height="60")
          +picture("img/team/team4.png", isLaptop=false, isTablet=false, isMobile=false)(class="team__person", width="60", height="60")
        div.resources-preview__body
          b.h5.resources-preview__title Explore 1000+ resources
          p.resources-preview__subtitle Over 1,000 articles on emerging tech trends and breakthroughs.
        +button("Explore Resources")(class="resources-preview__button")

    div.hero__advantages
      h2.sr-only Our advantages
      ul.container.hero__advantages-list
        li.hero__advantages-item
          div.hero__advantages-card.advantages-card
            +icon('icon-advantages-news')(width="50", height="50")
            a.advantages-card__link.circle-icon(href="/")
              h3.h6.advantages-card__title Latest News Updates
              p.advantages-card__subtitle Stay Current
            p.advantages-card__details Over 1,000 articles published monthly
        li.hero__advantages-item
          div.hero__advantages-card.advantages-card
            +icon('icon-advantages-expert')(width="50", height="50")
            a.advantages-card__link.circle-icon(href="/")
              h3.h6.advantages-card__title Expert Contributors
              p.advantages-card__subtitle Trusted Insights
            p.advantages-card__details 50+ renowned AI experts on our team
        li.hero__advantages-item
          div.hero__advantages-card.advantages-card
            +icon('icon-advantages-global')(width="50", height="50")
            a.advantages-card__link.circle-icon(href="/")
              h3.h6.advantages-card__title Global Readership
              p.advantages-card__subtitle Worldwide Impact
            p.advantages-card__details 2 million monthly readers

  section.section(aria-labelledby="features-title")
    header.section__header
      div.container.section__header-inner
        div.section__header-info
          p.section__subtitle.tag Unlock the Power of
          h2#features-title.section__title FutureTech Features
    div.section__body
      ul.list
        each future in jsonData.mainFeatures
          li.list__item
            div.container.card
              div.card__preview
                div.card__preview-main
                  +icon(future.icon)(class="card__preview-icon", width="80", height="80")
                  div.card__preview-info
                    h3.card__preview-title #{future.title}
                    div.card__preview-description
                      p #{future.description}
              div.card__body
                div.card__grid.card__grid--2-cols
                  each item in future.items
                    div.card__cell.tile
                      h4.card__cell-title.h5 #{item.title}
                      p.card__cell-description #{item.description}

  section.section(aria-labelledby="blog-title")
    header.section__header
      div.container.section__header-inner
        div.section__header-info
          p.section__subtitle.tag A Knowledge Treasure Trove
          h2#blog-title.section__title Explore FutureTech's In-Depth Blog Posts
        div.section__actions
          +button("View All Blogs", "/blog.html")(class="section__link")
    div.section__body.tabs(data-js-tabs)
      h3#blog-category-title.sr-only Blog category
      header.tabs__header
        div.container.tabs__buttons(
          role="tablist",
          aria-labelledby="blog-category-title"
        )
          each tab, index in jsonData.mainTabs
            button.tabs__button(
              id=("tab-" + (index + 1)),
              class=(!index && 'is-active'),
              type="button",
              data-js-tabs-button,
              role="tab",
              aria-controls=("tabpanel-" + (index + 1)),
              aria-selected=(!index ? 'true' : 'false'),
              tabindex=(index && '-1')
            ) #{tab.department}
      div.tabs__body
        each tab, index in jsonData.mainTabs
          div.tabs__content(
            id=("tabpanel-" + (index + 1)),
            class=(!index && 'is-active'),
            aria-labelledby=("tab-" + (index + 1)),
            tabindex="0",
            data-js-tabs-content
          )
            ul.list
              each item, index in tab.items
                li.list__item
                  article.container.blog-card
                    div.blog-card__author.person-card
                      +picture(item.author.image, isLaptop=false, isTablet=false, isMobile=false)(
                        class="person-card__image",
                        width="80",
                        height="80",
                        alt=item.author.name
                      )
                      div.person-card__body
                        p.person-card__name #{item.author.name}
                        p.person-card__department #{item.author.department}
                    div.blog-card__body
                      time.blog-card__date.h6(datetime=item.content.created.datetime) #{item.content.created.date}
                      div.blog-card__info
                        h4.blog-card__title #{item.content.title}
                        div.blog-card__description
                          p #{item.content.description}
                      div.blog-card__actions.blog-actions
                        ul.blog-actions__list
                          each action, idx in ['like', 'message', 'shared']
                            - const isActive = action === 'like' && !index ? 'is-active' : '';
                            li.blog-actions__item
                              button.blog-actions__button(
                                class=(!idx && 'is-active'),
                                type="button",
                                title="Dislike",
                                aria-label="Dislike"
                              )
                                +icon("icon-" + action)(class="blog-actions__icon " + isActive, width="24", height="24")
                                span #{item.content.actions[action]}
                    +button("View Blog", "/")(class="blog-card__link")

  section.section(aria-labelledby="resources-title")
    header.section__header
      div.container.section__header-inner
        div.section__header-info
          p.section__subtitle.tag Your Gateway to In-Depth Information
          h2#resources-title.section__title Unlock Valuable Knowledge with FutureTech's Resources
        div.section__actions
          +button("View All Resources", "/")(class="section__link")
    div.section__body
      ul.list
        each resource in jsonData.mainResources
          li.list__item
            div.container.card
              div.card__preview
                div.card__preview-main
                  +icon(resource.icon)(class="card__preview-icon", width="80", height="80")
                  div.card__preview-info
                    h3.card__preview-title #{resource.title}
                    div.card__preview-description
                      p #{resource.description}
                  +button(resource.button, "/")(class="button--dark-gray cart__preview-link")
                div.card__preview-extra
                  div.tile.download-info
                    div.download-info__body
                      p.download-info__title Downloaded By
                      p.download-info__subtitle.h5 10k + Users
                    div.team.download-info__team
                      each user in resource.users
                        +picture(user, isLaptop=false, isTablet=false, isMobile=false)(class="team__person", width="50", height="50")
              div.card__body
                div.card__grid.card__grid--2-cols-alt
                  div.card__cell
                    h3.h5.card__cell-title #{resource.content.title}
                  div.card__cell
                    p.card__cell-description #{resource.content.description}
                  div.card__cell.card__cell--wide
                    +picture(resource.content.image, isLaptop=true, isTablet=false, isMobile=true)(class="card__cell-image", width="917", height="332")
                  div.tile.card__cell
                    h4.card__cell-subtitle #{resource.content.total.title}
                    p.card__cell-description.h6 #{resource.content.total.description}
                  div.tile.card__cell
                    h4.card__cell-subtitle Download Formats
                    p.card__cell-description.h6 PDF format for access.
                    +button("Preview", "/", "icon-eye")(class="card__cell-link")
                  div.tile.card__cell.card__cell--wide
                    h4.card__cell-subtitle Average Author Expertise
                    p.card__cell-description.h6 #{resource.content.expertise}
  section.section(aria-labelledby="reviews-title")
    header.section__header
      div.container.section__header-inner
        div.section__header-info
          p.section__subtitle.tag What Our Readers Say
          h2#reviews-title.section__title Real Words from Real Readers
        div.section__actions
          +button("View All Testimonials")(class="section__link")
    div.section__body
      ul.container.bordered-grid.bordered-grid--3-cols
        each review in jsonData.mainReviews
          li.bordered-grid__item
            article.review-card
              div.review-card__author.person-card
                +picture(review.image, isLaptop=false, isTablet=false, isMobile=false)(
                  class="person-card__image",
                  width="60",
                  height="60",
                  alt=review.name
                )
                div.person-card__body
                  p.person-card__name #{review.name}
                  p.person-card__department #{review.country}
              div.tile.review-card__body
                div.review-card__rating-view.rating-view(title=`Rating ${review.rating} star`, aria-label=`Rating ${review.rating} star`)
                  - let n = 0;
                  while n < 5
                    - let isActive = n < 6 - Math.floor(Math.random() * ++n + 1) - 1 ? 'is-active' : ''
                    +icon('icon-star')(class=`rating-view__star ${isActive}`, width="24", height="24")
                bloquote.review-card__description
                  p #{review.content}
