extends ../layouts/_default.pug

block variables
  - const pageTitle = "Podcasts page";
  - const pageDescription = "Unlock the World of Artificial Intelligence through Podcasts";
  - const pageLink = "podcasts.html";

block content
  section.hero-alt(aria-labelledby="podcasts-title")
    header.hero-alt__header
      div.container.hero-alt__header-inner
        h1#podcasts-title.hero-alt__title
          | Unlock the World of Artificial Intelligence
          span.hero-alt__title-hidden-part  through Podcasts
        p.hero-alt__subtitle.h1.hidden-mobile(aria-hidden="true") through Podcasts
        p.hero-alt__description Dive deep into the AI universe with our collection of insightful podcasts. Explore the latest trends, breakthroughs, and discussions on artificial intelligence. Whether you're an enthusiast or a professional, our AI podcasts offer a gateway to knowledge and innovation.
    div.hero-alt__body
      ul.list
        each podcast in jsonData.mainPodcasts
          li.list__item
            div.container.card
              div.card__preview
                div.card__preview-main
                  +icon(podcast.icon)(class="card__preview-icon", width="80", height="80")
                  div.card__preview-info
                    h2.card__preview-title.h3 #{podcast.title}
                    div.card__rating-view.rating-view(
                      title=`Rating 5 star`,
                      aria-label=`Rating 5 star`
                    )
                      - let n = 0;
                      while n < 5
                        - n++
                        +icon('icon-star')(class=`rating-view__star is-active`, width="24", height="24")
                div.card__preview-extra
                  div.tile.card__cell
                    h3.card__cell-subtitle Host
                    p.card__cell-description.h6 #{podcast.host}
                    +button("Listen Podcast")(class="card__cell-link")
              div.card__body
                div.card__grid.card__grid--3-cols
                  div.card__cell.card__cell--wide
                    div.video-card__player.video-player(data-js-video-player)
                      video.video-player__video(
                        src="videos/example.mp4",
                        width="917",
                        height="412",
                        poster=podcast.content.poster,
                        data-js-video-player-video
                      )
                      div.video-player__panel.video-player__panel--center.is-active(data-js-video-player-panel)
                        button.video-player__play-button(
                          type="button",
                          title="Play video",
                          aria-label="Play video",
                          data-js-video-player-play-button
                        )
                          +icon("icon-play")(class="video-player__icon", width="58", height="58")
                  div.card__cell.card__cell--wide
                    h3.card__cell-title.h4 #{podcast.content.title}
                    p.card__cell-description #{podcast.content.description}
                  each item in podcast.content.list
                    div.tile.card__cell
                      p.card__cell-title #{item.title}
                      p.card__cell-description.h6 #{item.description}
  section.section(aria-labelledby="podcasts-videos-title")
    header.section__header
      div.container.section__header-inner
        div.section__header-info
          p.section__subtitle.tag Stay Informed with Fresh Content
          h2#podcasts-videos-title.section__title Latest Podcast Episodes
    div.section__body
      ul.container.bordered-grid.bordered-grid--3-cols
        each video in jsonData.newsVideo.concat(jsonData.newsVideo.slice(0, 2))
          li.bordered-grid__item
            div.video-card
              div.video-card__player.video-player(data-js-video-player)
                video.video-player__video.video-player__video--small(
                  src="videos/example.mp4",
                  width="470",
                  height="390",
                  poster=video.poster,
                  data-js-video-player-video
                )
                div.video-player__panel.is-active(data-js-video-player-panel)
                  button.video-player__play-button(
                    type="button",
                    title="Play video",
                    aria-label="Play video",
                    data-js-video-player-play-button
                  )
                    +icon("icon-play")(class="video-player__icon", width="58", height="58")
                  div.video-player__duration #{video.time}
              div.video-card__body
                h3.video-card__title.h5 #{video.title}
                div.video-card__description
                  p #{video.description}
              +button("Listen Podcast")(class="video-card__link")
